################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Oazachaosu/Oazachaosu/bin
/Oazachaosu/Oazachaosu/obj
/Oazachaosu/OazachaosuRepository/bin
/Oazachaosu/OazachaosuRepository/obj
/Oazachaosu/packages
/Oazachaosu/Repository/obj
/Oazachaosu/.vs
/Oazachaosu/Repository/bin
