################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Oazachaosu.Api/bin
/src/Oazachaosu.Api/obj
/src/Oazachaosu.Core/bin
/src/Oazachaosu.Core/obj
/src/Oazachaosu.Core.Common/bin/Debug/netstandard2.0
/src/Oazachaosu.Core.Common/obj
/tests/Oazachaosu.Test/bin
/tests/Oazachaosu.Test/obj
/.vs
