
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
To jest tryb nauki
<div ng-app="myApp" ng-controller="testController" ng-init="loaded()">
    <p>{{language1 || "test"}}</p><br />
    <input ng-model="language2" />

    <button id="knownButton" ng-click="knownButtonClick()">Wiem</button>
    <button id="checkButton" ng-click="checkButtonClick()">Sprawdź</button>
    <button id="unknownButton" ng-click="unknownButtonClick()">Nie Wiem</button>

    <p>{{ test_binding }}</p>
</div>
<script>
    var words;

    var app = angular.module("myApp", []);
    app.controller("testController", function ($scope) {

        $scope.loaded = function () {
            console.log("loaded");
            getGroupToTeach();
        }

        $scope.knownButtonClick = function () {
            console.log("knownButtonClick");
            console.log(words[1].Id);
        }


        $scope.unknownButtonClick = function () {
            console.log("unknownButtonClick");
        }

        $scope.checkButtonClick = function () {
            console.log("checkButtonClick");

        }



    });

    function getGroupToTeach() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === 4 && xhttp.status === 200) {
                var response = JSON.parse(xhttp.responseText);
                words = JSON.parse(response.Message);
                console.log(words);
                shuffle(words);
                console.log("words is loaded");
            }
        };
        xhttp.open("GET", generateApiUrl('words/1'), true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.setRequestHeader("authorization", getCookie('authorization'));
        xhttp.send();
        console.log("messgage sended...");
    }

    function shuffle(a) {
        for (let i = a.length; i; i--) {
            let j = Math.floor(Math.random() * i);
            [a[i - 1], a[j]] = [a[j], a[i - 1]];
        }
    }




</script>