<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Uwaga</h4>
      </div>
      <div class="modal-body">
        <p id="modalMessage" class="text-center"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>