

.blogArticle {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-bottom: 2px solid #666;
}

.blogDate {
  color: #AAA;
  font-size: 12px;
}

.blogTitle {
  font-size: 22px;
  margin: 5px 0px;
  font-weight: bold;
  color: #000;
}

  .blogTitle:hover,
  .blogTitle:visited,
  .blogTitle:link,
  .blogTitle:active {
    text-decoration: none;
  }

.blogCategory,
.blogCategory:active,
.blogCategory:visited {
  text-decoration: none;
  border: 1px solid #AAA;
  border-radius: 4px;
  color: #AAA;
  font-size: 12px;
  padding: 1px 3px;
  margin: 0 2px;
}

.blogCategory:hover {
    text-decoration: none;
    border-radius: 4px;
    background-color: #AAA;
    color: #FFF;
    font-size: 12px;
    padding: 1px 3px;
  }

.blogCommentCount {
  color: #AAA;
  font-size: 10px;
}

.blogComment {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.blogCommentUser {
  color: #666;
  font-size: 15px;
}

.blogCommentDateTime {
  color: #AAA;
  font-size: 10px;
}

.blogReadAllText,
.blogReadAllText:hover,
.blogReadAllText:link {
  color: #777;
}

.blogCommentComment {
}

.articleParagraph p {
  text-align: justify;
  text-justify: inter-word;
}

.articleParagraph li {
  text-align: justify;
  text-justify: inter-word;
}
